 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bio</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p>Roger Koch is an Army Veteran with years of experience in business and  community engagement:</p>
                    <ul>
                        <li>US Army Veteran, 25 th Infantry Division, Military Police</li>
                        <li>Graduate of Miami University, Botany Degree</li>
                        <li>Employed with Ohio State University Extension, Horticulturist (3 years)</li>
                        <li>Employed with Farm Credit Services, Branch Manager, Hamilton, Lebanon, &amp; Eaton (12 years)</li>
                        <li>Employed with Wending Creek Farms, Coudersport, Pa., Farm Manager, (4 years)</li>
                        <li>Employed with St. Joseph Home, Cincinnati, O., Plant Operations Director, (17 years)</li>
                        <li>State of Ohio Notary Public</li>
                        <li>Currently serving on Church Council</li>
                        <li>Current Board Member of the Reily Township Historical Society</li>
                        <li>Current Board Member of The Friends of MetroParks of Butler County</li>
                        <li>Current Board Member of the Ohio Christmas Tree Growers Association</li>
                        <li>Butler County Farm Bureau Member</li>
                        <li>Volunteer, Oxford Seniors – Home Delivered Meals</li>
                        <li>Volunteer, Butler Co. Board of Elections – Poll Worker</li>
                        <li>Owner and operator of Koch Christmas Trees, Reily Township</li>
                    </ul>
                </div>
                <!--<div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>-->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>