 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bio</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <p style="text-align:center">Roger Koch is an Army Veteran with years of experience in business and community engagement</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 style="text-align:center">Education</h3>
                    <ul style="font-size:14pt">
                        <li>Bachelor's degree from Miami University</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align:center">Military</h3>
                    <ul style="font-size:14pt">
                        <li>US Army Veteran, 25 th Infantry Division, Military Police</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align:center">Business</h3>
                    <ul style="font-size:14pt">
                        <li>Owner and operator of Koch Christmas Trees</li>
                        <li>Employed with Ohio State University Extension, Horticulturist</li>
                        <li>Employed with Farm Credit Services, Branch Manager, Hamilton, Lebanon, &amp; Eaton</li>
                        <li>Employed with Wending Creek Farms, Coudersport, Pa., Farm Manager</li>
                        <li>Employed with St. Joseph Home, Cincinnati, O., Plant Operations Director</li>
                        <li>State of Ohio Notary Public</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align:center">Community</h3>
                    <ul style="font-size:14pt">
                        <li>Currently serving on Queen of Peace Church Council</li>
                        <li>Current Board Member of the Reily Township Historical Society</li>
                        <li>Current Board Member of The Friends of MetroParks of Butler County</li>
                        <li>Current Board Member of the Ohio Christmas Tree Association</li>
                        <li>Butler County Farm Bureau Member</li>
                        <li>Volunteer, Oxford Seniors – Home Delivered Meals</li>
                        <li>Volunteer, Butler Co. Board of Elections – Poll Worker</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>