 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bio</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <p style="text-align:center">Roger Koch is an Army Veteran with years of experience in business and community engagement</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3 style="text-align:center">Education</h3>
                    <ul style="font-size:14pt">
                        <li>Bachelor's degree from Miami University</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align:center">Military</h3>
                    <ul style="font-size:14pt">
                        <li>US Army Veteran, 25 th Infantry Division, Military Police</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align:center">Employment</h3>
                    <ul style="font-size:14pt">
                        <li>Horticulturist, Ohio State University Extension</li>
                        <li>Branch Manager, Farm Credit Services, Hamilton, Lebanon, &amp; Eaton</li>
                        <li>Farm Manager, Wending Creek Farms, Coudersport, Pa.</li>
                        <li>Plant Operations Director, St. Joseph Home, Cincinnati, Oh.</li>
                        <li>Owner and operator, Koch Christmas Trees</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align:center">Community</h3>
                    <ul style="font-size:14pt">
                        <li>Currently serving on Queen of Peace Church Council</li>
                        <li>Current Board Member of the Reily Township Historical Society</li>
                        <li>Current Board Member of The Friends of MetroParks of Butler County</li>
                        <li>Current Board Member of the Ohio Christmas Tree Association</li>
                        <li>Butler County Farm Bureau Member</li>
                        <li>Volunteer, Oxford Seniors – Home Delivered Meals</li>
                        <li>Volunteer, Butler Co. Board of Elections – Poll Worker</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3 style="text-align:center">Family</h3>
                    <ul style="font-size:14pt">
                        <li>Happily married for 30+ years with 4 adult children</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
