
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Goals</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                 {% for issue in page.issues %}
                    <div class="col-sm-4 portfolio-item">
                        <h4>{{ issue }}</h4>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </section>