
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Goals</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <h4>To promote...</h4>
                        <p>transparency by developing and using the various forms of communication that are currently available today to get information out to the township residents.</p>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <h4>To promote...</h4>
                        <p>the utilization of Grant funding to help finance township improvements and
                                the purchase of new capital - buildings and equipment.</p>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <h4>To work to...</h4>
                        <p>balance growth that is sensible and manageable and supports both the
                                agriculture and residential community.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <h4>To work with...</h4>
                        <p>other Township and County organizations to help (assist) Reily Township
                                move into the next decade.</p>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <h4>Committed to...</h4>
                        <p>having the best and well maintained roads possible, which also includes
                                having roads that are safe for our residents and safe for those passing through Reily Twp.</p>
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        <h4>Committed to...</h4>
                        <p>a Fire and EMS Department that is properly equipped and well
                                maintained.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>